<h1>Edit recipe</h1>

<br>

<%= form_for @recipe, url: user_recipe_path(@recipe.user_id, @recipe.id), method: :put do |form| %>

	<%= form.hidden_field :user_id, value:current_user.id %>

	<h3>Title:</h3> <%= form.text_field :title, class:"form-control" %><br>

	<h3>Description:</h3> <%= form.text_area :description, class:"form-control" %><br>

	<% if !@recipe.image.nil? %>
		<%= image_tag @recipe.image.thumb %>
	<% else %>
		<p>No cover photo yet! Upload one!</p>
	<% end %>
	<h3>Upload a cover photo</h3> <%= form.file_field :image %><br>

	<h3>Ingredients:</h3>
	<div id='ingredients'>
    <%= form.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', :form => ingredient %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add ingredient', form, :ingredients, form_name: "form", class:"btn btn-default" %>
    </div>
  	</div>

  	<h3>Directions:</h3>
	<div id='directions'>
    <%= form.fields_for :directions do |direction| %>
		<%= render 'direction_fields', :form => direction %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add direction', form, :directions, form_name: "form", class:"btn btn-default" %>
    </div>
  	</div>

	<%= link_to "Back", request.referer.present? ? request.referer : default_path, class:"btn btn-default" %>
	
	<%= form.submit "Update!", class:"btn btn-primary" %>
	

<% end %>
	

