<h1>Create new recipe!</h1>

<br>

<%= form_for @recipe, url: user_recipes_path(current_user.id), method: :post, remote: true do |form| %>

	<%= form.hidden_field :user_id, value:current_user.id %>

	<h3>Title(required):</h3> <%= form.text_field :title, class:"form-control" %><br>

	<h3>Description(required):</h3> <%= form.text_area :description, class:"form-control" %><br>

	<h3>Upload a cover photo(required)</h3> <%= form.file_field :image %><br>

	<h3>Ingredients(required):</h3>
	<div id='ingredients'>
    <%= form.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', :form => ingredient %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add ingredient', form, :ingredients, form_name: "form", class:"btn btn-default" %>
    </div>
  	</div>

  	<h3>Directions(required):</h3>
	<div id='directions'>
    <%= form.fields_for :directions do |direction| %>
		<%= render 'direction_fields', :form => direction %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add direction', form, :directions, form_name: "form", class:"btn btn-default" %>
    </div>
  	</div>

	<%= form.submit "Create!" %>

<% end %>
	

