<h1><%= @recipe.title %></h1>
<br>
<%= image_tag @recipe.image %>
<br>
<p><%= @recipe.description %></p>
<br>
<%= link_to "Edit", edit_user_recipe_path(current_user.id, @recipe.id), class:"btn btn-default" %>
<%= link_to "Delete", user_recipe_path(current_user.id, @recipe.id), method: :delete, data: { confirm: 'Sure? This action cannot be reverted!' }, class:"btn btn-danger" %>



