<%= image_tag @recipe.image %>
<br>
<h1><%= @recipe.title %></h1>
<p>Created by: <%= link_to recipe.user.name, user_path(recipe.user.id) %></p>
<% if  @recipe.dir_count <= 4 %>
	<p>Difficulty: Easy Peasy :D | Requires: <%= @recipe.ing_count %> ingredients. </p>
<% elsif @recipe.dir_count > 4 and @recipe.dir_count <= 8 %>
	<p>Difficulty: Totally doable! :) | Requires: <%= @recipe.ing_count %> ingredients</p>
<% elsif @recipe.dir_count > 8 %>
	<p>Difficulty: Phew, challenging! ;) | Requires: <%= @recipe.ing_count %> ingredients</p>
<% end %>
<br>
<h3>Description:</h3>
<p><%= @recipe.description %></p>
<br>
<h3>Ingredients:</h3>
<ul>
	<% @recipe.ingredients.each do |ingredient| %>
		<li><%= ingredient.name %></li>
	<% end %>
</ul>
<br>
<h3>Directions:</h3>
<ol>
	<% @recipe.directions.each do |direction| %>
		<li><%= direction.step %></li>
	<% end %>
</ol>
<br>
<% if logged_in? %>
	<%= link_to "Edit", edit_user_recipe_path(current_user.id, @recipe.id), class:"btn btn-default" %>
	<%= link_to "Delete", user_recipe_path(current_user.id, @recipe.id), method: :delete, data: { confirm: 'Sure? This action cannot be reverted!' }, class:"btn btn-danger" %>
<% end %>



