<div id="weather-forecast">
	<div id="weather-content">
		<h4>Check the weather before heading out for groceries:</h4>
		<p>Today is: <%= Time.now.strftime("%B %e, %Y") %></p>
		<p>Weather in <%= @city %>, MY</p>
		<img src="http://openweathermap.org/img/w/<%= @icon %>.png">&nbsp;&nbsp;<%= @temp %> &#8451;
		<p><%= @weather.capitalize %></p>
		<% if @weather.include?("rain") or @weather.include?("storm") or @weather.include?("snow") %>
			<h5>Friendly reminder: Don't forget to bring umbrella :)</h5>
		<% elsif @weather.include?("mist") %>
			<h5>Friendly reminder: Drive safely :)</h5>
		<% else %>
			<h5>Friendly reminder: Don't forget to wear sunblock :)</h5>
		<% end %>
	</div>
</div>


	<h1 id="index-title">Cooking has never been so easy! </h1>
	<br>
	<br>
	<% if @recipe.size != 0 %>
	<div id="recipe-grid" class="align-center">
		
		<% @recipe.each do |recipe| %>
		<div class="square">
			<% if recipe.image != nil %>
			<div class="recipe-img align-center">
				<%= image_tag recipe.image, class:"align-center"%>
			</div>
			<% end %>
			<div class="recipe-detail">
			<h3><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe.id) %></h3>
			<% if  recipe.dir_count <= 4 %>
				<p>Difficulty: Easy Peasy :D | Requires: <%= recipe.ing_count %> ingredients. </p>
			<% elsif recipe.dir_count > 4 and recipe.dir_count <= 8 %>
				<p>Difficulty: Totally doable! :) | Requires: <%= recipe.ing_count %> ingredients</p>
			<% elsif recipe.dir_count > 8 %>
				<p>Difficulty: Phew, challenging! ;) | Requires: <%= recipe.ing_count %> ingredients</p>
			<% end %>
			<p>Created by: <%= link_to recipe.user.name, user_path(recipe.user.id) %></p>			
			<br>
			</div>
			</div>
		<% end %>
	
	</div>	
	<% else %>
		<h3 class="text-center">No recipe created yet</h3>
	<% end %>

	<span class="align-center pagination"><%= paginate @recipe %></span>



 
